* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.width {
  width: 500px;
  margin: 0 auto;
  
}

.header-container {
  
  height: 20px;
  background-color: yellow;
  border: 5px solid black;
  border: dashed;
  text-align: center;
}
.principal-container-second{
   
    background-color: rgb(0, 0, 124);
    padding: 40px;
}

.second-container{
    text-align: center;
    margin: 0 auto;
    width: 700px;
    height: 250px;
    border: 3px dashed black;
    background-color: violet;
    

}

.principal-container-third{
    display: flex;
    padding: 40px;
}

.third-container-left{
    width: 60% ;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    border: 3px dashed black;
    background-color: rgb(58, 149, 235);
}



.third-container-right{
    width: 40%;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    border: 3px dashed black;
    background-color:pink;

}


